@model ControlTravelAgencySystem.Models.ViewModels.AdminPanelPageView
@using ControlTravelAgencySystem.Common
@using ControlTravelAgencySystem.Models

@RenderPage("../Modals/HotelAddModal.cshtml")

@{
    List<object> hotelProperties = new List<object>()
    {
        "id",
        "name",
        "tour_id",
        new
        {
            key = "tour",
            properties = new List<object>
            {
                "name"
            }
        },
        "city_id",
        new
        {
            key = "city",
            properties = new List<object>
            {
                "name"
            }
        },
        "address",
        "stars_number",
        "distance_to_beach",
        "food_id",
        new
        {
            key = "food",
            properties = new List<object>()
            {
                "type",
                "description"
            }
        }
    };
}

<div class="panel panel-default">

    <div class="panel-heading">
        <h2>Список отелей</h2>
    </div>
    <div class="panel-body">
        <div class="space-between" id="hotels-top-panel">
            <div class="btn-group" id="hotel-add-btn" data-toggle="modal" data-target="#hotel-modal">
                <button class="btn btn-success">Добавить</button>
            </div>
        </div>
    </div>

    <div class="table-responsive">

        @if (Model.hotels.Count() > 0)
        {
            <table class="table table-hover" id="hotels-table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Город</th>
                        <th>Адрес</th>
                        <th>Курорт</th>
                        <th>Количество звёзд</th>
                        <th>До ближайшего пляжа (м)</th>
                        <th>Питание</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (hotel h in Model.hotels)
                    {
                        <tr class="hover-box" 
                            data-id="@h.id" 
                            data-modal-target="#hotel-modal" 
                            data-name="@h.name" 
                            data-json="@(Utils.toJsonByCustomProperties(h, hotelProperties))"
                            data-delete-url="/hotels/delete/@h.id"
                            data-title="Отель"
                            data-warning-text="Внимание! Будут удалены также все номера данного отеля и заказы по ним.">

                            <td>@h.name</td>
                            <td>@h.city.name</td>
                            <td>@h.address</td>
                            <td>@(h.tour != null ? @h.tour.name : "-")</td>
                            <td>@h.stars_number</td>
                            <td>@h.distance_to_beach</td>

                            @if (h.food != null)
                            {
                                <td data-toggle="tooltip" title="@h.food.description">@h.food.type</td>
                            }
                            else
                            {
                                <td>-</td>
                            }
                            
                            <td>
                                <div class="btn-group hover-elem actions-group">
                                    <button class="btn btn-default btn-xs center-block btn-modal-edit">
                                        <i class="fa fa-pencil text-warning"></i>
                                    </button>
                                    <button class="btn btn-default btn-xs center-block btn-entity-remove">
                                        <i class="fa fa-ban text-danger"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning">Отели не найдены</div>
        }
    </div>
</div>