@model ControlTravelAgencySystem.Models.ViewModels.AdminPanelPageView
@using ControlTravelAgencySystem.Models

<form class="modal add-entity-modal fade modal-up" id="transfer-modal" tabindex="-1" role="dialog"
      data-entity="transfer" 
      data-create-url="/suggestions/create"
      data-edit-url="/suggestions/edit">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Добавление трансфера
                    <label class="error-label bg-danger"></label>
                </h4>
            </div>

            <div class="modal-body">

                <div class="input-group form-group">
                    <span class="input-group-addon">Маршрут:</span>
                    <select required class="form-control" id="route-input" name="route_id">
                        @foreach (route r in Model.routes)
                        {
                            <option value="@r.id">Маршрут до @r.final_address</option>
                        }
                        <option value="">Отсутствует</option>
                    </select>
                </div>

                <div class="form-group input-group date" id="starting-date-datetimepicker">
                    <span class="input-group-addon">Дата поездки:</span>
                    <input required id="starting-date-input" class="form-control" type="text" name="starting_date" value="" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

                <script type="text/javascript">
                    $(function () {
                        $('#starting-date-datetimepicker').datetimepicker({
                            locale: 'ru',
                            format: 'DD/MM/YYYY'
                        });
                    });
                </script>

                <div class="input-group form-group">
                    <div class="checkbox">
                        <input type="checkbox" id="transfer-is-baby-checkbox" name="is_baby" />
                        <label for="transfer-is-baby-checkbox">Ребенок</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="transfer-is-baggage-checkbox" name="is_baggage" />
                        <label for="transfer-is-baggage-checkbox">Багаж</label>
                    </div>
                </div>

                <!--HBS-->
                <script class="hbs" type="text/x-handlebars-template">

                    <div class="input-group form-group">
                        <span class="input-group-addon">Маршрут:</span>
                        <select required class="form-control" id="route-input" name="route_id">
                            @foreach (route r in Model.routes)
                            {
                                <option {{#if route}}{{#ifCond route.id "==" @r.id }}selected{{/ifCond}}{{/if}} value="@r.id">Маршрут до @r.final_address</option>
                            }
                            <option {{#unless route }}selected{{/unless}} value="">Отсутствует</option>
                        </select>
                    </div>

                    <div class="form-group input-group date" id="edit-starting-date-datetimepicker">
                        <span class="input-group-addon">Дата поездки:</span>
                        <input required id="starting-date-input" class="form-control" type="text" name="starting_date" value="" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <div class="input-group form-group">
                        <div class="checkbox">
                            <input type="checkbox" id="transfer-is-baby-checkbox" name="is_baby" {{#if is_baby }} checked{{/if}} />
                            <label for="transfer-is-baby-checkbox">Ребенок</label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="transfer-is-baggage-checkbox" name="is_baggage" {{#if is_baggage }} checked{{/if}} />
                            <label for="transfer-is-baggage-checkbox">Багаж</label>
                        </div>
                    </div>
                    
                </script>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</form>