@model ControlTravelAgencySystem.Models.ViewModels.ToursView
@{
    ViewBag.Title = "Туристическое бюро";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="@Href("~/Scripts/pagination.min.js")"></script>
    <script src="@Href("~/Scripts/PredefinedCalloutsTab.js")"></script>
}

@section Styles {
    <link href="@Href("~/Content/pagination.css")" rel="stylesheet" type="text/css" />
}

<div class="tab-content">
    <div class="tab-pane fade in active" id="custom-tour-tab">
        @if (Request.Cookies["welcome_alert_close"] == null)
        {
            <div class="alert alert-success fade in notification-alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" onclick="document.cookie = 'welcome_alert_close=true'">&times;</a>
                <h1>
                    <strong>Добро пожаловать в туристическое бюро!</strong>
                </h1>
                <p class="hvr-icon-down" style="cursor: pointer">
                    <a href="#tours-list" class="alert-link">Здесь</a>
                    <b> Вы можете выбрать пожелания для заявки на незабываемый отдых.</b>
                </p>
            </div>
        }
        <div id="tours-list">
            @Html.Action("GetToursList", "Tours")
        </div>
    </div>
    <div class="tab-pane fade" id="completed-tour-tab">
        @RenderPage("~/Views/Home/Tabs/PredefinedCalloutsTab.cshtml")
    </div>
</div>