@model ControlTravelAgencySystem.Models.ViewModels.RoomsView
@using (Html.BeginForm("Check", "HotelRooms", FormMethod.Post))
{

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Выберите комнату(-ы)</h2>
        </div>
        <div class="panel-body">
            <h3>Список номеров отеля</h3>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Добавить</th>
                        <th>Номер</th>
                        <th>Стоимость проживания в сутки</th>
                        <th>Класс</th>
                        <th>Кол-во комнат</th>
                        <th>Кол-во спальных мест</th>
                        <th>Площадь</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var viewItem in Model.RoomViewItems)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" checked="@viewItem.IsChecked" value="@viewItem.RoomId" id="room-@viewItem.RoomId-checkbox"/>
                                    <label for="room-@viewItem.RoomId-checkbox"></label>
                                </div>
                            </td>
                            <td>
                                @viewItem.RoomNumber
                            </td>
                            <td>
                                @viewItem.CostPerDay руб
                            </td>
                            <td>
                                @viewItem.Class
                            </td>
                            <td>
                                @viewItem.SeatsNumber
                            </td>
                            <td>
                                @viewItem.SeatsNumber
                            </td>
                            <td>
                                @viewItem.RoomSize м²
                            </td>
                            <td>
                                @viewItem.Description
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<script>
    $(function() {
        $(':checkbox').change(function () {                
            var id = $(this).val();
            $.ajax({
                url: '/rooms/roomchecked/' + id,
                type: 'POST',
                success: function(response) {
                    // успех
                }
            });
        });
    });
</script>
