@model ControlTravelAgencySystem.Models.ViewModels.RoomsView
@using (Html.BeginForm("Check", "HotelRooms", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Стоимость в день</th>
                <th>Класс</th>
                <th>Кол-во комнат</th>            
                <th>Кол-во спальных мест</th>
                <th>Площадь</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var viewItem in Model.RoomViewItems)
            {
                <tr>
                    <td><input type="checkbox" value="@viewItem.RoomId" title="@viewItem.RoomNumber" /></td>
                    <td>@viewItem.CostPerDay</td>
                    <td>@viewItem.Class</td>
                    <td>@viewItem.RoomNumber</td>
                    <td>@viewItem.SeatsNumber</td>
                    <td>@viewItem.RoomSize</td>
                    <td>@viewItem.Description</td>                
                </tr>
            }
        </tbody>
    </table>
    <div>
        <input type="submit" value="Открыть список пожеланий" />
    </div>
}