@model ControlTravelAgencySystem.Models.ViewModels.RoomsView
@using (Html.BeginForm("Check", "HotelRooms", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>Добавить</th>
                <th>Номер</th>
                <th>Стоимость в день</th>
                <th>Класс</th>
                <th>Кол-во комнат</th>            
                <th>Кол-во спальных мест</th>
                <th>Площадь</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var viewItem in Model.RoomViewItems)
            {
                <tr>
                    <td>
                        <input type="checkbox" checked="@viewItem.IsChecked" value="@viewItem.RoomId" />
                    </td>
                    <td>
                        @viewItem.RoomNumber
                    </td>
                    <td>
                        @viewItem.CostPerDay руб
                    </td>
                    <td>
                        @viewItem.Class
                    </td>
                    <td>
                        @viewItem.SeatsNumber
                    </td>
                    <td>
                        @viewItem.SeatsNumber
                    </td>
                    <td>
                        @viewItem.RoomSize м²
                    </td>
                    <td>
                        @viewItem.Description
                    </td>                
                </tr>
            }
        </tbody>
    </table>
}

    <script>
        $(function() {
            $(':checkbox').change(function () {                
                var id = $(this).val();
                $.ajax({
                    url: '/rooms/roomchecked/' + id,
                    type: 'POST',
                    success: function(response) {
                        // успех
                    }
                });
            });
        });
    </script>
