@{
    ViewBag.Title = "Домашняя страница";
}

<table class="table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Адрес</th>
            <th>Город</th>
            <th>Кол-во звезд</th>
            <th>Растояние до пляжа</th>
            <th>Тип питания</th>
            <th>Описание питания</th>
            <th>Скольки разовое питание</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewItem in Model.HotelViewItems)
        {
            <tr>
                <td><a href="/hotelrooms/list/@viewItem.HotelId"><p class="hotel-link" id="@viewItem.HotelId">@viewItem.HotelName</p></a></td>
                <td>@viewItem.HotelAddress</td>
                <td>@viewItem.CityName </td>
                <td>@viewItem.StarsNumber </td>
                <td>@viewItem.DistanceToBeach </td>
                <td>@viewItem.FoodType </td>
                <td>@viewItem.FoodDescription </td>
                <td>@viewItem.HowManyInDay </td>                
            </tr>
        }
    </tbody>
</table>