@model ControlTravelAgencySystem.Models.ViewModels.AdminPanelPageView

<div id="control-panel">

    @if (Model.section == null || Model.section == "callouts")
    {
        <div id="callouts-tab">
            @RenderPage("Tabs/CalloutsTab.cshtml")
        </div>
    }

    @if (Model.section == "excursions")
    {
        <div id="excursions-tab">
            @RenderPage("Tabs/ExcursionsTab.cshtml")
        </div>
    }

    @if (Model.section == "flights")
    {
        <div id="flights-tab">
            @RenderPage("Tabs/FlightsTab.cshtml")
        </div>
    }

    @if (Model.section == "routes")
    {
        <div id="routes-tab">
            @RenderPage("Tabs/RoutesTab.cshtml")
        </div>
    }

    @if (Model.section == "tours")
    {
        <div id="tours-tab">
            @RenderPage("Tabs/ToursTab.cshtml")
        </div>
    }

    @if (Model.section == "hotels")
    {     
        <div id="hotels-tab">
            @RenderPage("Tabs/HotelsTab.cshtml")
        </div>
    }

    @if (Model.section == "rooms")
    {
        <div id="rooms-tab">
            @RenderPage("Tabs/RoomsTab.cshtml")
        </div>
    }
    
    @if (Model.user.position == "директор" && Model.section == "employees")
    {
        <div id="employees-tab">
            @RenderPage("Tabs/EmployeesTab.cshtml")
        </div>
    }    
    
</div>